 {% extends "base.html" %}
 {% block  title %}AnimeClass.com{% endblock  %}
 {% block content %}
 <div class="container mt-5">
     <h2 class="text-center">Anime Class </h2>
     <p class="text-center">The place to update the best anime works 2025</p>

     









     
     <div class="conten-row">
      <div class="image-container">
        <img 
          src="{{ url_for('static', filename='images/images.jpg') }}" 
          alt="Detective Conan" 
          class="overflow-image" 
          class="conten-img"
        >  
    <div class="text-container">  
      <h2 class="text-primary"> Thám Tử Lừng Danh Conan</h2>
      <h4 class="text-muted mb-4"> Ngôi Sao 5 Cánh Triệu Đô </h4>
      <p class="mb-3">
        Bộ anime movie thứ 27 trong loạt phim Thám Tử Lừng Danh Conan, 
        dự kiến phát hành vào năm 2024. Câu chuyện xoay quanh vụ án 
        bí ẩn liên quan đến ngôi sao năm cánh trị giá triệu đô...
    </p>
    <button class="btn btn-outline-primary">Xem thêm</button>  
    </div>



    

    </div>       
</div>
 {% endblock  %}
 